.match-game {
    text-align: center;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-gap: 30px;
    /* Increased space between cards */
    justify-content: center;
}

.card {
    background-color: #ddd;
    padding: 20px;
    border: 1px solid #333;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.2s ease;
}

.card.blue {
    background-color: #add8e6;
    /* Blue when clicked */
}

.card.matched {
    background-color: #a3d977;
    /* Green when matched */
    cursor: default;
}

.card.red {
    background-color: #f67280;
    /* Red when not matched */
}

.card:active {
    transform: scale(0.95);
    /* Subtle scale effect on click */
}

.congrats-message {
    margin-top: 20px;
    font-size: 20px;
    color: green;
    font-weight: bold;
}

.restart-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.restart-button:hover {
    background-color: #0056b3;
}